p{
     margin: 0;
}
table{
     width: 100%;
}
 .calc{
     border: 1px solid #b6b0a4;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translateX(-50%) translateY(-50%);
     padding: 20px;
     background: #e4dccf;
     border-radius: 10px;
}
 .output{
     font-family: 'Pixel LCD7';
     background: #a6b8a2;
     border-radius: 10px;
     padding: 10px;
     margin-bottom: 20px;
     border: 15px solid #373c40;
     border-top: 40px solid #373c40;
     border-bottom: 40px solid #373c40;
     box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
 .goal{
     font-family: 'Pixel LCD7';
     text-align: center;
     width: 50px;
     padding: 5px;
     font-size: 20px;
     border-radius: 10px;
     border: none;
     outline: none;
     color: #a6b8a2;
     background: transparent;
}
 .moves{
     font-family: 'Pixel LCD7';
     text-align: center;
     width: 20px;
     padding: 5px;
     font-size: 20px;
     border-radius: 10px;
     border: none;
     outline: none;
     color: #a6b8a2;
     background: transparent;
}
 #info{
     border-radius: 5px;
     font-size: 20px;
     font-weight: 400;
     color: #a6b8a2;
     background-color: #3d3d3d;
     text-align: center;
}
#level{
     padding: 0px 0px 8px 3px;
}
.clr{
     background-color: #c62e2d;

}
.empty{
     background-color: #b6b0a4;

}
.empty:hover{
     background-color: #b6b0a4;

}
 td{
     width: 60px;
     height: 60px;
     font-family: 'Roboto';
     border-radius: 10px;
     padding: 15px;
     text-align: center;
     background: #45494c;
     color: #e4dccf;
     font-size: 30px;
     font-weight: 900;
     cursor: pointer;
}
.clr:hover{
     background: #962127;
}
 td:hover{
     background: #191a1c;
}
 .final-result{
     font-family: 'a_LCDNova', arial;
     text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
     text-align: right;
     width: 243px;
     padding: 15px 10px 5px 10px;
     font-size: 40px;
     border-radius: 10px;
     border: none;
     outline: none;
     color: #3c3c3c;
     background: #a6b8a2;
}
 @font-face {
     font-family: 'a_LCDNova';
     src: url(font/LCDNOVA.otf);
}
 @font-face {
     font-family: 'Pixel LCD7';
     src: url(font/15092.ttf);
}
